.jumbotron {
    background-color: #3b5998;
    border-radius: 0;
    box-shadow: 0px 4px 7px -3px #444;
    color: white;
}
.card {
    border-color: rgb(196, 196, 196);
    box-shadow: 2px 3px 5px -2px black;
    margin-right: 20px;
    margin-top: 35px;
}

.card-header {
    background-color: #f7f7f7;
}

.text-center {
    font-family: 'Julius Sans One', sans-serif;
}